* {
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ba895f;
	  background: red; /* For browsers that do not support gradients */
	  background: -webkit-linear-gradient(#ba895f, #eedfaf, #d37057); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(#ba895f, #eedfaf, #d37057); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(#ba895f, #eedfaf, #d37057); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(#ba895f, #eedfaf, #d37057); /* Standard syntax */
}

.contain {
	width: 85%;
	margin: 0 auto;
	height: auto;
}

	.h1 {
		color: white;
		font-family: sans-serif;
		font-weight: none;
		font-size: 56px;
		text-align: center;
		margin: 110px 0 0 0;
	}

	.h3 {
		margin: 0 0 110px 0;
		color: white;
		font-family: sans-serif;
		font-weight: none;
		font-size: 26px;
		text-align: center;
	}

	.leftcontainer {
		width: 56%;
		margin: 0 auto;
		height: auto;
		float: left;
	}

		.nav {
			width: 98%;
			list-style: none;
			margin: 0 auto 0 0;
			padding: 0;
		}

		.nav a {
			width: 16.3333%;
			display: block;
			padding: 15px 0;
			float: left;
			text-decoration: none;
			color: black;
			font-size: 16px;
			font-family: sans-serif;
			background-color: white;
			transition: .4s ease-in-out;
			text-align: center;
		}

			.nav a:nth-child(1) {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
			

			.nav a:nth-child(6) {
			    border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}

			.nav a:hover {
				color: #f87b46;
				background-color: #f2f1ee;
				border-bottom: 4px solid #f87b46;
				
			}

.cleaner {
	display: block;
	clear: both;
}

	.leftone {
		width: 50%;
		display: block;
		float: left;
	}

		.one {
			width: calc(100% - 30px);
			margin: 30px 15px 30px 0;
			height: 250px;
			background: white;
			border-radius: 5px;
		}

			.one .yellow {
				width: 100%;
				height: 30%;
				background-color: #f4cc54;
				border-radius: 5px 5px 0 0;
			}

				.one .yellow img {
					padding: 15px;
					float: left;
					display: block;
				}

				.one .yellow .dolar {
					width: calc(100% - 30%);
					margin: 0;
					padding: 15px 0 0 0;
					color: white;
					font-size: 24px;
					display: block;
					float: left;
				}

				.one .yellow .bond {
					margin: 0;
					padding: 0 0 15 0px;
					color: white;
					font-size: 12px;
					display: block;
					float: left;
				}

			.one .under1 {

			}

		.two {
			width: calc(100% - 30px);
			margin: 30px 15px 30px 0;
			height: 200px;
			background: white;
			border-radius: 5px;
		}

		.three {
			width: calc(100% - 30px);
			margin: 30px 15px 30px 0;
			height: 450px;
			background: white;
			border-radius: 5px;
		}

	.lefttwo {
		width: 50%;
		display: block;
		float: left;
	}

		.eden {
			width: calc(100% - 30px);
			margin: 30px 15px 30px 0;
			height: 400px;
			background: white;
			border-radius: 5px;
		}

		.calendar {
			width: 422px;
			margin: 30px 15px 30px 0;
			height: 300px;
			background: #f87e47;
			border-radius: 5px;
		}

			.calendar header {
				width: 422px;
				height: 40px;
				background-color: white;
			}

				.calendar header button {
					background-color: transparent;
					border: none;
				}

				.calendar .body {
					box-sizing: border-box;
					width: 422px;
					height: 245px;
					background-color: #f87e47;
					border-radius: 0 0 5px 5px;
					padding: 10px;
				}

					.calendar .body ul {
						margin: 0;
						padding: 0;
						list-style: none;
						width: 100%;
					}

						.calendar .body ul li .header {

						}

						.calendar .body ul li {
							width: calc(402px / 7);
							display: block;
							float: left;
						}

							.calendar .body ul li.days {
								font-size: 16px;
								color: white;
								text-align: center;
							}


		.tri {
			width: calc(100% - 30px);
			margin: 30px 15px 30px 0;
			height: 200px;
			background: white;
			border-radius: 5px;
		}

	.rightcontainer {
		width: 44%;
		margin: 0;
		height: auto;
		float: left;
	}

		.nav2 {
			width: 100%;
			list-style: none;
			margin: 0 auto 0 0;
			padding: 0;

			position: relative;
   			display: inline-block;
		}

		.nav2 a {
			width: 16%;
			display: block;
			padding: 15px 7px;
			float: left;
			transition: .4s ease-in-out;
			text-decoration: none;
			color: grey;
			font-size: 16px;
			font-family: sans-serif;
			background-color: #e4e1d5;
			text-align: center;
			border-radius: 7px 7px 0 0;
			margin-right: 10px;	
		}

			.nav2 a:hover {
				color: black;
				background-color: white;		
			}

		.dropdown-content {
			margin: 0;
			padding: 0;
    		display: none;
    		position: absolute;
    		/*border: 5px solid white;*/
    		background-color: white;
		}

		.dropdown-content img {
			padding: 3px;
		}

		.nav2 a:hover .dropdown-content {
		    display: block;
		}

	.hotel {
		width: 100%;
		height: auto;
		background: white;
		display: block;
		float: left;
		border-radius: 0 5px 5px 5px;
		margin: 0 auto;
	}
	
	.hotel .bigimg {
		width: 98.5%;
	}

	.hotel > img {
		padding: 5px 0 5px 5px;
	}

	.inputpolinja {
		margin-top: 30px;
		width: 100%;
		height: auto;
		background: white;
		display: block;
		float: left;
		border-radius: 5px;
	}

		input[type="text"] {
			width: 250px;
			height: 30px;
			padding: 2px 5px;
			border: 2px solid silver;
			border-radius: 5px;
			padding: 0 0 0 15px; 
			font-family: sans-serif;
			font-size: 15px;
		}

			.text1 {
				margin: 30px 25px 15px 30px !important;
			}

			.text2 {
				border: 2px solid grey !important;
				margin: 0 25px 15px 30px;
			}

			.text3 {
				border: 2px solid #f87b46 !important;
				margin: 0 25px 15px 30px;
			}

			input[type="checkbox"] {
				height: 25px;
				width: 25px;
				border: 2px solid silver;
				vertical-align: middle;
			}
			
			input[type="radio"] {
				height: 25px;
				width: 25px;
				border: 2px solid silver;
				vertical-align: middle;
			}

		.inputpolinja button {
			width: 180px;
			height: 40px;
			vertical-align: middle;
			background-color: #f87e47;
			border-radius: 5px;
			font-family: sans-serif;
			color: white;
			font-size: 15px;
			margin-left: 15px;
			border: none;
		}

		textarea {
			width: 350px;
			height: 90px;
			margin: 10px 20px 20px 30px; 
			border: 2px solid silver;
			border-radius: 5px;
			padding: 10px 0 0 15px;
			color: grey;
			font-family: sans-serif;
			font-size: 15px;
			float: left;

		}
	
	.selectholder {
		float: left;
		width: 200px;
		height: auto;
	}

		.selection {
			width: 180px;
			height: 43px;
			display: block;
			float: left;
			margin: 10px 0 0 0px;
			border-radius: 5px;
			background-color: silver;
			border: none;
			color: grey;
			font-family: sans-serif;
			font-size: 15px;
			padding: 0 15px;
		}

		.over {
			width: 180px;
			height: 43px;
			display: block;
			float: left;
			margin: 12px 0 0 0px;
			border-radius: 5px;
			background-color: grey;
			border: none;
			color: silver;
			font-family: sans-serif;
			font-size: 15px;
			padding: 0 15px;
		}

		input[type="range"] {
			margin: 0 0 20px 30px;
			width: 280px;
			display: block;
			float: left;
		}

		.searchbar {
			display: block;
			float: left;
			margin-left: 20px;
		}
		
		input[type="search"] {
			margin: 0;
			padding: 0;
			width: 220px;
			height: 35px;
			border-radius: 5px;
			/*display: block;*/
			float: left;

		}

		.searchbar > img {
			margin: 0;
			padding: 0;
			width: 35px;
			height: 35px;
			float: left;
			/*display: block;*/
		}

	.prvi3 {

	}
