nav {
	margin: 0;
	padding: 0;
}

	.nava a {
		display: block;
		float: left;
		font-family: sans-serif;
		background-color: silver;
		color: black;
		text-decoration: none;
		padding: 5px;
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		transition: .4s ease-in-out;
	}

	.nava a:hover {
		color: black;
		background-color: grey;
		border-bottom: 3px solid silver;
		cursor: pointer;
		border-radius: 0 0 12px 12px;

}

span {
	display: block;
	clear: both;
}

	.navb a {
		display: block;
		float: left;
		text-decoration: none;
		color: black;
		border: 1px solid grey;
		font-family: sans-serif;
		font-size: 30px;
		padding: 10px;
		transition: .4s ease-in-out;
	}

	.navb a:hover {
		background-color: grey;
		color: black;
		cursor: pointer;
		padding: 7px;
	}

	.navc a {
		display: block;
		float: left;
		color: grey;
		font-family: sans-serif;
		font-size: 30px;
		padding: 5px;
		text-align: center;
		transition: .4s ease-in-out;
		border: 1px solid grey;
		border-bottom: 3px solid grey;
		text-decoration: none;
	}

	.navc a:hover {
		color: red;
		border-bottom: 3px solid red;
	}

	.navd a {
		display: block;
		float: left;
		text-decoration: none;
		font-family: Verdana, sans-serif;
		font-size: 30px;
		color: black;
		padding: 3px;
		background-color: silver;
		transition: .4s ease-in-out
	}

	.navd a:first-of-type {
 		border-radius: 10px 0 0 10px;
 	}
 
 	.navd a:last-of-type {
 		border-radius: 0 10px 10px 0;
	} 

	.navd a:hover {
		background-color: grey;
		color: white;
		cursor: pointer;
	}

	.nave a {
		display: block;
		float: left;
		font-size: 30px;
		font-family: Verdana, sans-serif;
		text-decoration: none;
	}
	

#1 {

}




	.ver1 {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 150px;
	}

	.ver1 li {
		padding: 3px;
		background-color: grey;
		transition: .4s ease-in-out;
	}

	.ver1 li a {
		text-decoration: none;
		padding: 15px;
		font-size: 30px;
		font-family: Verdana, sans-serif;
		color: black;
	}

		.ver1 li:hover {
			background-color: silver;
			cursor: pointer;
			padding: 5px;
		}

		.ver1 li a:hover {
			font-size: 32px;
		}


	.ver2 {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 250px;
	}

	.ver2 li {
		padding: 3px;
		background-color: #7295b5;
		transition: .4s ease-in-out;
	}

	.ver2 li a {
		text-decoration: none;
		font-family: Verdana, sans-serif;
		color: black;
		font-size: 30px;
	}

		.ver2 li:hover {
			cursor: pointer;
			border-bottom: 3px solid black;
			border-top: 3px solid black;
			padding: 30px;
			
		}

		.ver2 li a:hover {
			color: black;
			font-size: 32px;
		}



	.ver3 {
		margin: 0;
		padding: 0;
		width: 200px;
		list-style: none;
		
	}

	.ver3 li {
		margin: 5px;
		padding: 5px;
		background-color: #286865;
		transition: .4s ease-in-out;
	}

	.ver3 li a {
		text-decoration: none;
		font-family: Verdana, sans-serif;
		color: #8cd8d4;
		font-size: 25px;
	}

		.ver3 li:hover {
			cursor: pointer;
			border-right: 10px solid black;
			
		}

		.ver3 li a:hover {
			color: black;
		}


	.ver4 {
		margin: 0;
		padding: 0;
		width: 250px;
		list-style: none;
		
	}

	.ver4 li {
		margin: 5px;
		padding: 5px;
		background-color: #840529;
		transition: .4s ease-in-out;
	}

	.ver4 li a {
		text-decoration: none;
		font-family: Verdana, sans-serif;
		color: #996473;
		font-size: 20px;
	}

		.ver4 li:hover {
			cursor: pointer;
			border-left: 30px solid #380815;
			
		}

		.ver4 li a:hover {
			color: #26010b;
		}

	.ver5 {
		margin: 0;
		padding: 0;
		width: 300px;
		list-style: none;
		
	}

	.ver5 li {
		padding: 5px;
		border-bottom: 2px solid silver;
		transition: .4s ease-in-out;
	}

	.ver5 li a {
		text-decoration: none;
		font-family: Verdana, sans-serif;
		color: black;
		font-size: 30px;
	}

		.ver5 li:hover {
			cursor: pointer;
			background-color: silver;
			
		}

		.ver5 li a:hover {
			color: black;
		}
